name: CI workflow

on:
  push: 
    branch: ["main", "dev"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    container: node:20-alpine
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          npm ci 
      
      - name: Check Eslint
        run: |
          npm run lint